
<div class="container">
    <h2><strong>SIGN UP</strong></h2>
    <%= form_for @user, url: {action: "create"} do |f| %>
         
        <table>
          <tr>
            <td><%= f.label :username %></td>
            <td><%= f.text_field :username %></td>
          </tr>
          <tr>
            <td><%= f.label :email %></td>
            <td><%= f.email_field :email %></td>
          </tr>
                    <tr>
            <td><%= f.label :password %></td>
            <td><%= f.password_field :password %></td>
          </tr>
        </table>  

        <%= f.submit "Sign up", class: "button" %>
    <% end %>
</div>

<div class="container">
  Already have an account? <button class="login">Login</button>
</div>

<div class="container hidden">
      <h2><strong>LOG IN</strong></h2>
    <%= form_for @user, url: login_path do |f| %>

      <table>
        <tr>
          <td><%= f.label :username %></td>
          <td><%= f.text_field :username %></td>
        </tr>
        <tr>
          <td><%= f.label :password %></td>
          <td><%= f.password_field :password %></td>
        </tr>
      </table>
        <%= f.submit "Login", class: "button" %>
    <% end %>
</div>


