<div class="panel-heading">
    <div class="panel-title">
      <h2>Sign Up</h2>
    </div>
  </div>
  <div>
    <%= form_for @user, url: {action: "create"} do |f| %>

      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email %>
      </div>

      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password %>
      </div>

      <div class="form-group">
        <div class="checkbox">
          <%= f.label :username %>
          <%= f.text_field :username %>
        </div>
      </div>

      <div class="form-group">
        <%= f.submit "Sign up" %>
      </div>
    <% end %>
  </div>
</div>

<div class="panel-heading">
    <div class="panel-title">
      <h2>Log In</h2>
    </div>
  </div>
  <div>
    <%= form_for @user, url: login_path do |f| %>

      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password %>
      </div>

      <div class="form-group">
        <div class="checkbox">
          <%= f.label :username %>
          <%= f.text_field :username %>
        </div>
      </div>

      <div class="form-group">
        <%= f.submit "Login" %>
      </div>
    <% end %>
  </div>
</div>
