<!DOCTYPE html>
<html>
<head>
  <title>Source</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href='http://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
    <% if current_user %>
      <button>
        <%= link_to "FOLLOWING", user_following_path(current_user) %>
      </button>
      <button>
        <%= link_to "FOLLOWERS", user_followers_path(current_user) %>
      </button>
      <button>
        <%= link_to "LOG OUT", logout_path %>
      </button>
    <% end %>
  </nav>

<%= yield %>

</body>
</html>
